body {
  margin: 0px 0px 0px 25px;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5em;
  font-size: 100%;
}

#site_wrap {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns:
    1fr
    290px
    290px
    290px
    1fr;
  grid-template-rows:
    65px
    70px
    70px
    70px
    70px
    1fr
    35px;
  grid-gap: 0px;
  grid-template-areas:
    "header header header header header"
    ". contentbox1 . . ."
    ". contentbox1 contentbox2 . ."
    ". . contentbox2 contentbox3 ."
    ". . . contentbox3 ."
    ". . . . ."
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.header .name {
  font-size: 2em;
  padding-left: 50px;
}
.header .navbar {
  list-style: none;
  padding: 17px;
  display: flex;
  font-size: 1em;
}
.header .navbar a {
  text-decoration: none;
  color: #424242;
  margin: 0px 7px;
}
.header .navbar a:hover,
.header .navbar .active {
  color: #000000;
  font-weight: bolder;
  font-size: 1em;
}
.contentbox1 {
  grid-area: contentbox1;
}
.contentbox2 {
  grid-area: contentbox2;
}
.contentbox3 {
  grid-area: contentbox3;
}
.footer {
  grid-area: footer;
  align-items: center;
  padding-left: 15px;
  display: flex;
  font-size: 0.8em;
}

h {
  margin-top: 20px;
  margin-left: 16px;
  line-height: 1.6em;
  font-size: 1.2em;
  color: #424242;
}
.rectangle_1 {
  fill: rgba(255, 255, 255, 1);
  stroke: #555555;
  stroke-width: 1.4px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.161));
  overflow: visible;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.wrapper {
  position: relative;
  width: 255px;
  height: 180px;
}
.about_wrapper {
    position: relative;
    width: 700px;
    height: 350px;
}

.text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  bottom: 10px;
  left: 24px;
  right: 18px;
  color: #424242;
  font-size: 0.8em;
  line-height: 1.48em;
}

@media screen and (max-width: 650px) {
  #site_wrap {
    grid-template-columns:
      auto;  
    grid-template-rows:
      90px
      240px
      240px
      240px
      35px;
    grid-template-areas:
      "header header header"
      ". contentbox1 ."
      ". contentbox2 ."
      ". contentbox3 ."
      ". footer .";
  }
}
