body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5em;
  font-size: 100%;
  background-color: white;
}

.dark-mode {
  filter: invert(100%);
}

.dark_btn{
  background-color: white;
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid white;
}

.dark_btn:hover{
  color: rgb(73, 64, 194);
  border: 1px outset #cacaca;
  border-radius: 3px;
}

#about_site_wrap {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns:
    80px
    1fr
    80px;
  grid-template-rows:
    105px
    1fr
    80px;
  grid-gap: 0px;
  grid-template-areas:
    "header header header"
    ". contentbox1 ."
    ". . .";
}

#contact_site_wrap {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns:
    80px
    1fr
    80px;
  grid-template-rows:
    105px
    1fr
    80px;
  grid-gap: 0px;
  grid-template-areas:
    "header header header"
    ". contentbox1 ."
    ". . .";
}

#site_wrap {
  background-color: white;
  height: 100vh;
  display: grid; 
  grid-template-columns:
    1fr
    345px
    345px
    345px
    1fr;
  grid-template-rows:
    105px
    80px
    80px
    80px
    80px
    1fr
    35px;
  grid-gap: 0px;
  grid-template-areas:
    "header header header header header"
    ". contentbox1 . . ."
    ". contentbox1 contentbox2 . ."
    ". . contentbox2 contentbox3 ."
    ". . . contentbox3 ."
    ". . . . ."
    "footer footer footer footer footer";
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 15px 35px 15px;
}
.header .name{
  grid-area: name;
  font-size: 2.2em;
  padding-left: 50px;
  text-decoration: none;
  color: black;
}
.header .navbar {
  grid-area: navbar;
  list-style: none;
  padding: 17px;
  display: flex;
  font-size: 1em;
}
.header .navbar a{
  text-decoration: none;
  color: #424242;
  margin: 0px 7px;
}
.header .navbar a:hover,
.header .navbar .active {
  color: #000000;
  font-weight: bolder;
  font-size: 1em;
}
.contentbox1 {
  grid-area: contentbox1;
  width: fit-content;
  height: fit-content;
}
.contentbox1:hover h {
  background-clip: content-box;
  background-color: rgb(210, 186, 255);
}
.contentbox2 {
  grid-area: contentbox2;
}
.contentbox2:hover h {
  background-clip: content-box;
  background-color: rgb(210, 186, 255);
}
.contentbox3 {
  grid-area: contentbox3;
}
.contentbox3:hover h {
  background-clip: content-box;
  background-color: rgb(210, 186, 255);
}
.footer {
  grid-area: footer;
  align-items: center;
  padding-left: 15px;
  display: flex;
  font-size: 0.8em;
}

h {
  line-height: 1.6em;
  font-size: 1.4em;
  font-weight: 380;
  color: #424242;
  margin: 20px;
  padding-left: 25px;
}

.wrapper {
  position: relative;
  width: 255px;
  height: 180px;
}
.about_wrapper {
  position: relative;
  width: 700px;
  height: 350px;
}

.textbox {
  width: fit-content;
  height: auto;
  padding: 18px 25px;
  background-color: white;
  box-shadow: 11px 11px #d6d6d6;
  border-style: solid;
  border-color: #424242;
  border-width: 1.5px;
  margin: 0px 20px 20px 20px;
  color: #656565;
  font-size: 0.95em;
}

@media screen and (max-width: 700px) {
  #site_wrap {
    grid-template-columns: 55px 1fr 55px;
    grid-template-rows:
      160px
      3fr
      3fr
      3fr
      35px;
    grid-template-areas:
      "header header header"
      ". contentbox1 ."
      ". contentbox2 ."
      ". contentbox3 ."
      ". footer .";
  }
  #about_site_wrap {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns:
      55px
      1fr
      55px;
    grid-template-rows:
      160px
      1fr
      35px;
    grid-gap: 0px;
    grid-template-areas:
      "header header header"
      ". contentbox1 ."
      ". . .";
  }
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 15px 35px 15px;
  }
  .header .name {
    grid-area: name;
    font-size: 2.2em;
    padding-left: 50px;
  }
  .header .navbar {
    grid-area: navbar;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
  .header .navbar a {
    text-decoration: none;
    color: #424242;
    margin: 0px 7px;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: rgb(210, 186, 255);
}

::selection {
  color: black;
  background: rgb(210, 186, 255);
  font-weight: bolder;
}
