body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", monospace;
  line-height: 1.5em;
  font-size: 100%;
}

.dark-mode {
  filter: invert(100%);
  background-color: black;
}

.dark_btn{
  background-color: white;
  padding: 2px;
  margin: 2px;
  border-radius: 3px;
  border: 1px solid white;
}

.dark_btn:hover{
  color: rgb(109, 101, 231);
  border: 1px outset #cacaca;
  border-radius: 3px;
}

#about_site_wrap {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns:
    120px
    1fr
    120px;
  grid-template-rows:
    110px
    1fr
    80px;
  grid-gap: 0px;
  grid-template-areas:
    "header header header"
    ". contentbox1 ."
    ". . .";
}

#site_wrap {
  background-color: white;
  height: 100vh;
  display: grid; 
  grid-template-columns:
    1fr
    345px
    345px
    345px
    1fr;
  grid-template-rows:
    110px
    80px
    80px
    80px
    80px
    1fr
    35px;
  grid-gap: 0px;
  grid-template-areas:
    "header header header header header"
    ". contentbox1 . . ."
    ". contentbox1 contentbox2 . ."
    ". . contentbox2 contentbox3 ."
    ". . . contentbox3 ."
    ". . . . ."
    "footer footer footer footer footer";
}

#projects_site_wrap {
  background-color: white;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 20px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 30px 50px 40px;
}
.header .name a{
  grid-area: name;
  font-size: 45px;
  text-decoration: none;
  color: black;
  line-height: .8em;
  padding-top:8px;
}
.header .navbar {
  grid-area: navbar;
  list-style: none;
  display: flex;
  font-size: 1em;
  align-items: center;
}
.header .navbar a{
  text-decoration: none;
  color: #424242;
  margin: 0px 7px;
}
.header .navbar a:hover,
.header .navbar .active {
  color: #000000;
  font-weight: bolder;
  font-size: 1em;
}
.contentbox {
  grid-area: contentbox1;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  justify-self: center;
  text-align: center;
}
.contentbox:hover h {
  background-clip: content-box;
  background-color: #d2e9ff;
  color:black;
}
.contentbox1 {
  margin: 0px 20px;
  grid-area: contentbox1;
  width: fit-content;
  height: fit-content;
}
.contentbox1:hover hleft {
  background-clip: content-box;
  background-color: #d2e9ff;
  color:black;
}
.contentbox2 {
  margin: 0px 20px;
  grid-area: contentbox2;
}
.contentbox2:hover hleft {
  background-clip: content-box;
  background-color: #d2e9ff;
  color:black;
}
.contentbox3 {
  margin: 0px 20px;
  grid-area: contentbox3;
}
.contentbox3:hover hleft {
  background-clip: content-box;
  background-color: #d2e9ff;
  color:black;
}
.footer {
  grid-area: footer;
  align-items: center;
  padding-left: 15px;
  display: flex;
  font-size: 0.8em;
}

h {
  line-height: 1.6em;
  font-size: 1.4em;
  font-weight: 380;
  color: #424242;
}
hleft {
  line-height: 1.6em;
  font-size: 1.4em;
  font-weight: 380;
  color: #424242;
  padding-left: 25px;
}

.wrapper {
  position: relative;
  width: 255px;
  height: 180px;
}
.about_wrapper {
  position: relative;
  width: 700px;
  height: 350px;
}

.textbox {
  width: fit-content;
  height: auto;
  padding: 18px 25px;
  background-color: white;
  box-shadow: 11px 11px #d6d6d6;
  border-style: solid;
  border-color: #424242;
  border-width: 1.5px;
  margin: 0px auto 20px auto;
  color: #333333;
  font-size: 0.95em;
}
.textbox a{
  color: black;
}

img {
  max-width: 100%;
}

.projectbox {
  width: 280px;
  height: 280px;
  background-color: white;
  box-shadow: 11px 11px #c0c0c0;
  border-style: solid;
  border-color: #424242;
  border-width: 1.5px;
  color: #333333;
  font-size: 0.95em;
  overflow: hidden;
}
.projectbox:hover{
  border-color: #ffffff;
}

@media screen and (max-width: 700px) {
  #site_wrap {
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows:
      170px
      3fr
      3fr
      3fr
      35px;
    grid-template-areas:
      "header header header"
      ". contentbox1 ."
      ". contentbox2 ."
      ". contentbox3 ."
      ". footer .";
  }
  #about_site_wrap {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns:
      25px
      1fr
      25px;
    grid-template-rows:
      170px
      1fr
      35px;
    grid-gap: 0px;
    grid-template-areas:
      "header header header"
      ". contentbox1 ."
      ". . .";
  }
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 15px 35px 15px;
  }
  .header .name {
    grid-area: name;
    font-size: 2.2em;
    padding-left: 50px;
  }
  .header .navbar {
    grid-area: navbar;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }
  .header .navbar a {
    text-decoration: none;
    color: #424242;
    margin: 0px 7px;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #CCCCFF;
}

::selection {
  color: black;
  background: #CCCCFF;
  font-weight: bolder;
}
